<div class="navbar navbar-expand-sm navbar-light navbar-lewagon light-">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign-in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="navbar navbar-lewagon">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Find a hike..." name="search">
            <button type="submit"><i class="fa-solid fa-shoe-prints"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container dark-background mt-3">
  <div class="row-fluid" data-controller="search-hikes">
    <div class="row-fluid">
        <div class="searchbar">
          <%= form_with url: hikes_path, method: :get, class: "d-flex", data: {search_hikes_target: "form"} do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Circuit, Ville...",
                value: params[:query],
                data: { action: 'keyup->search-hikes#update', search_hikes_target: "input"}
            %>
          <%= submit_tag "", name: "", class: "btn btn-primary", data: { action: 'click->search-hikes#locate', search_hikes_target: "btn_locate"} %>
          <% end %>
        </div>
    </div>
      <div class="row-fluid mt-2">
        <ul class="nav justify-content-center align-middle">
          <li class="nav-item">
            <% @categories.each do |category| %>
              <%= link_to category.name, hikes_path(query: category.name), data: { action: 'click->search-hikes#update_with_category', search_hikes_target: "category" }, class: "badge rounded-pill text-bg-secondary text-decoration-none" %>
            <% end %>
          </li>
        </ul>
      </div>
    <div class="row-fluid mt-3">
      <%= render 'listes', hikes: @hikes %>
    </div>
  </div>
</div>


        <div class="footer-item">
          <i class="fa-regular fa-user"></i>
          <h6>Profil</h6>
        </div>

<%= cl_image_tag hike.locations.first.photo.key, height: 150, width: 200, crop: :fill %>
