
  <div class="py-2"data-search-hikes-target="list">
    <h1>Liste des circuits</h1>
    <div class="row">
      <div class="col-12">
        <div class="hikes-cards" data-controller="favorites">
          <% @hikes.each do |hike| %>
            <div class="py-2">
              <%= link_to hike_path(hike), class: 'hike-card' do %>
                <div class="hike-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path hike.locations.first.photo.key %>')">
                  <% if hike.favorites.present? %>
                    <i class="fa-solid fa-bookmark" style="color: #e57c23;"></i>
                    <% else %>
                    <i class="fa-regular fa-bookmark"></i>
                    <% end %>
                </div>
                <div class="hike-description pt-1">
                  <div class="hike-info">
                    <strong><%= hike.name.capitalize %></strong>
                    <br>Description: <%= hike.description.truncate(33) %>
                    <br><i class="fa-solid fa-shoe-prints"></i> Durée: <%= hike.time %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
