<div class="container pale-background py-3">
  <div class="row-fluid">

    <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @hike.locations.first.photo.key %>)">
        <h1 id="top"><%= @hike.name %></h1>
    </div>
    <div class="card-show-actions" data-controller="weather">
          <div class="card-txt">
            <h6>Distance</h6>
            <p><%= @hike.distance %> km</p>
          </div>
          <div class="card-txt">
            <h6>Durée</h6>
              <p><%= @hike.time %> h</p>
          </div>
          <div class="card-txt">
            <h6 data-weather-target="city" city=<%= @hike.city %> api="<%= ENV['OPENWEATHER_API_KEY'] %>">Metéo</h6>
            <img data-weather-target="icon">
          </div>
          <div class="card-txt">
            <h6> T°</h6>
            <p data-weather-target="temperature"></p>
          </div>
          <div class="card-txt">
            <h6>Note</h6>
            <p>
            <% if @average.nan? %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="fas fa-star"></i> <%= @average.round(2) %>
            <% end %>
            </p>
          </div>
    </div>
    <div class="row-fluid">
        <p class="mt-4 mb-4"><%= @hike.description %></p>
        <div class="map-container" data-controller="toggle-map" data-toggle-map-markers-value="<%= @markers.to_json %>"
            data-toggle-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <div class="map-show" style="width: 100%; height:350px;" data-toggle-map-target="midScreenMap"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              <div class="button-container" data-action= "click->toggle-map#fullScreen" data-map-target="btnNavigate">
                <%= button_tag(type: "submit", class: "btn btn-warning") do %>
                  <i class="fa-solid fa-magnifying-glass-location"></i>
                <% end %>
                <%= button_tag(id: 'btn-locate', type: "submit", class: "btn btn-warning", data: { action: 'click->map#locate', map_target: "btnLocate" }) do %>
                  <i class="fa-sharp fa-solid fa-location-crosshairs"></i>
                <% end %>
              </div>
            <% @hike.locations.each do |location| %>
                <%= render 'offcanvas_etape', location: location %>
            <% end %>
          </div>
          <div class="map-show fullscreen d-none" data-toggle-map-target="fullScreenMap">
              <div class="button-container" data-action= "click->toggle-map#midScreen" data-toggle-map-target="btnNavigate">
                <%= button_tag(type: "submit", class: "btn btn-warning") do %>
                  <i class="fa-solid fa-magnifying-glass-location"></i>
                <% end %>
                <%= button_tag(id: 'btn-locate', type: "submit", class: "btn btn-warning", data: { action: 'click->toggle-map#locate', toggle_map_target: "btnLocate" }) do %>
                  <i class="fa-sharp fa-solid fa-location-crosshairs"></i>
                <% end %>
              </div>
            <% @hike.locations.each do |location| %>
                <%= render 'offcanvas_fullscreen', location: location %>
            <% end %>

          </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Catégories de ce circuit: </h2>
        <div class="badge-item">
          <ul class="nav justify-content-evenly align-middle">
            <% @hike.hikes_categories.each do |category| %>
              <li class="badge rounded-pill text-white bg-warning"><%= category.category.name %></li>
            <% end %>
          </ul>
        </div>
      <p class="mt-3">Retrouvez la liste des lieux qui composent ce circuit: </p>
        <div class="card-pot">
          <% @hike.points_of_interests.each do |pot| %>
          <li>
            <ul><strong><%=  pot.location.name %></strong></ul>
          </li>
          <% end %>
        </div>
        <div class="end text-center mt-3">
          <h5><i class="fa-solid fa-shoe-prints"></i></i><span id="text"> Walker'Z, bonne balade! </span> <i class="fa-solid fa-camera"></i></h5>
        </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-evenly my-3">
    <div class="col-8 text-center">
      <% if @hike.reviews.count <= 1 %>
        <h2 class="text-center">(<%= @hike.reviews.count%>) Commentaire</h2>
      <% else %>
        <h2 class="text-center">(<%= @hike.reviews.count%>) Commentaires</h2>
      <% end %>
    </div>
    <div class="col-4 text-center">
      <%= link_to hike_path(anchor: 'form'), class: "btn btn-blue" do %>
        <i class="fa-sharp fa-solid fa-download"></i> Ajouter
      <% end %>
    </div>
    <div class="col-12">
      <% @hike.reviews.each do |review| %>
        <div class="comment py-1">
          <div class="d-flex justify-content-between">
            <div class="col-6 text-left">
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="col-6 text-center">
              <p id="date">Le: <%= review.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>
          <p id="content"><%= review.content %></p>
          <div class="d-flex justify-content-between">
            <div class="col-6 text-center">
              <p><%= review.user.first_name %></p>
            </div>
            <div class="col-6 text-center">
              <% if review.user == current_user %>
                <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de supprimer votre commentaire?"} do %>
                  <i class="fa-sharp fa-solid fa-circle-xmark"></i> Supprimer
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <hr>
      <% end %>
      <div class="d-flex justify-content-center">
        <div class="col-10">
          <h3 class="text-center">Ajouter un commentaire</h3>
          <%= simple_form_for [@hike, @review] do |f| %>
            <%= f.input :content, label: "Commentaire" %>
            <%= f.input :rating, as: :select, collection: (1..5).to_a, required: true, label: "Donnez une note", input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit "Ajouter", class:"btn btn-orange" %>
        <% end %>
          <div id="form" class="my-1">
            <%= link_to "Revenir tout en haut", hike_path(anchor: 'top'), class: "btn btn-blue" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
