<div class="container pale-background py-3">
  <div class="row-fluid">

    <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @hike.locations.first.photo.key %>)">
        <h1><%= @hike.name %></h1>
    </div>
    <div class="card-show-actions">
          <div class="card-txt">
            <h6>Distance</h6>
            <p><%= @hike.distance %></p>
          </div>
          <div class="card-txt">
            <h6>Durée</h6>
              <p><%= @hike.time %></p>
          </div>
          <div class="card-txt">
            <h6>Note</h6>
            <p>
              <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
            </p>

          </div>
          <div class="card-txt">
            <h6>Metéo</h6>
            <p>
              <i class="fa-solid fa-cloud"></i>
            </p>
          </div>
    </div>
    <div class="row-fluid">
        <p class="mt-4"><%= @hike.description %></p>
        <div class="row-gap-3">
          <p class="mb-0">Les points d 'intérêts : </p>
          <select class="form-select" aria-label="Choisissez une étape">
            <option selected>Sélectionnez une étape</option>
            <% @points.each do |point| %>
             <option value="<%= point.step %>" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom<%= point.step %>">Etape <%= point.step %></option>
            <% end %>
          </select>

        </div>
        <div class="map-show mt-2" style="width: 100%; height:350px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-points-value="<%= @points.map(&:step).to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <% @points.each do |point| %>
	            <%= render 'offcanvas_etape', point: point %>
          <% end %>
        </div>
    </div>
  </div>
</div>
